.input-search {
  position: relative;
  width: 40vw;
  height: auto;
  margin: 0 0.2vw;
  font-size: 1vw;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid #e81c46;
  padding: 0.5vw;
  margin: 0 1vw;
  text-transform: uppercase;
}

::placeholder {
  color: #e81c46;
  opacity: 0.5;
}

.search {
  position: relative;
  padding: 0.2vw;
  height: 3vw;
  width: 26vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border: none;
}

.search-container {
  position: relative;
  width: 26vw;
}
